SeminarProject/.vs/
SeminarProject/SeminarProject/x64/Debug/
SeminarProject/x64/Debug/
SeminarProject/.vs/*.*
SeminarProject/SeminarProject/x64/Debug/*.*
SeminarProject/x64/Debug/*.*
SeminarProject/.vs/*.
SeminarProject/SeminarProject/x64/Debug/*.
SeminarProject/x64/Debug/*.
SeminarProject/.vs/.*
SeminarProject/SeminarProject/x64/Debug/.*
SeminarProject/x64/Debug/.*
